<p id="notice"><%= notice %></p>

<h1>Take Ins</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @take_ins.each do |take_in| %>
      <tr>
        <td><%= take_in.customer_id %></td>
        <td><%= take_in.item_id %></td>
        <td><%= link_to 'Show', take_in %></td>
        <td><%= link_to 'Edit', edit_take_in_path(take_in) %></td>
        <td><%= link_to 'Destroy', take_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Take In', new_take_in_path %>
