<%= form_with(model: event_log, local: true) do |form| %>
  <% if event_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_log.errors.count, "error") %> prohibited this event_log from being saved:</h2>

      <ul>
      <% event_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :integer, %>
    <%= form.text_field :integer, %>
  </div>

  <div class="field">
    <%= form.label :event_description %>
    <%= form.text_field :event_description %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
