<div class="d-lg-flex justify-content-center">
  <div class="w-75">
  <style>
    .form-control{
      font-size: 18px;
    }
    .select-wrapper input.select-dropdown {
      font-size: 2rem;
      font-family: 'Montserrat', Courier, monospace;
    }
    .dropdown-content li > span {
      font-size: 1.5rem;
      color: black;
      display: block;
      padding: 0.5rem; }
  </style>
  <%= form_with id: "customerEditform", model: @customer do |f| %>

  <!-- Notifications -->
  <% if @customer.errors.any? %>
    <% @customer.errors.full_messages.each do |e| %>
      <%= js add_gritter(e, title: "Notice", :image => image_path('info.png'), sticky: false) %>
    <% end %>
  <% end %>
  <!-- Extended material form grid -->
  <!-- /Users/Shaun/.rvm/gems/ruby-2.5.0/gems/bootstrap-sass-3.4.0/assets/stylesheets/bootstrap/_forms.scss -->
  <!-- row 1  -->
    <div class="form-row" >
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :first_name, id: 'inputfirstName4MD',
                           autofocus: true, autocomplete: "first_name",
                           class: "form-control", placeholder: "First Name", 'data-trigger' => 'hover',
                           'data-toggle' => 'popover', 'data-content' => 'This field is required',
                           'data-placement' => 'left', 'title' => 'First Name'
          %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :last_name, id: 'inputlastName4MD',
                           autofocus: true, autocomplete: "last_name",
                           class: "form-control", placeholder: "Last Name", 'data-trigger' => 'hover',
                           'data-toggle' => 'popover', 'data-content' => 'This field is required',
                           'data-placement' => 'left', 'title' => 'Last Name' %>
        </div>
      </div>
    </div>
      <!-- row 2  -->
    <div class="form-row" >
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :phone, id: 'inputPhone4MD',
                           autofocus: true, autocomplete: "phone",
                           class: "form-control", placeholder: "Phone or Mobile" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :email, id: 'inputEmail4MD',
                           autofocus: true, autocomplete: "email",
                           class: "form-control", placeholder: "Email Address" %>
        </div>
      </div>
    </div>
    <!-- row 3  -->
    <div class="form-row" >
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :street_address, id: "inputAddressMD",
                           autofocus: true, autocomplete: "street_address",
                           class: "form-control", placeholder: "Street Address" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :street_address2, id: "inputAddress2MD",
                           autofocus: true, autocomplete: "street_address2",
                           class: "form-control", placeholder: "Street Address 2" %>
        </div>
      </div>
    </div>
    <!-- row 4  -->
    <div class="form-row" >
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :city, id: "inputCityMD",
                           autofocus: true, autocomplete: "city",
                           class: "form-control", placeholder: "City" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <%= f.text_field :postal, id: "inputPostalMD",
                           autofocus: true, autocomplete: "postal",
                           class: "form-control", placeholder: "Postal" %>
        </div>
      </div>
    </div>
    <!-- row 5  -->
    <div class="form-row" >
      <div class="col-md-6">
        <div class="md-form form-group">
            <select name="customer[province]" id="mdb-select"
                    class="mdb-select md-form colorful-select dropdown-primary"
                    style="font-size: large">
              <%= options_for_select(Customer::PROVINCES.map {|k, v| [v, k]}, selected: customer.province) %>
            </select>
          </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <select name="customer[agreement_status]" id="mdb-select"
                  class="mdb-select md-form colorful-select dropdown-primary">
            <%= options_for_select(Customer::AGREEMENT_STATUSES.map {|v, k| [v, k]}, selected: customer.agreement_status) %>
          </select>
        </div>
      </div>
    </div>
    <!-- row 6  -->
    <div class="form-row" >
      <div class="col-md-12 text-center">
        <div class="form-group black-border">
          <%= f.text_area(:notes, :cols => 50, :rows => 5, class: "form-control", id: "customerNotes",
                          placeholder: "Enter Customer Notes") %>
        </div>
      </div>
    </div>
      <!-- end of form -->
    <br />
    <div class="text-center">
      <button class="btn btn-primary waves-effect" type="submit" >Update Customer Record</button>
    </div>
<% end %>
    <!-- justify/w-75 -->
  </div>
</div>