<%= render 'shared/customer_graphic'%>
<%= form_for Customer.new do |f| %>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last Name" %>
      </div>

      <div class="field">
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", placeholder: "Phone" %>
      </div>

      <div class="field">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

  <div class="form-group"><%= f.submit :Submit, class: 'btn btn-primary btn-block create-account'%> </button></div>
<% end %>
