
<%= form_for @customer, remote: false do |f| %>
  <!-- Grid row -->
  <!-- Material form register -->
  <div class="d-flex justify-content-center">
  <div class="card w-75 mb-3" >

    <h2 class="card-header info-color white-text text-center py-4">
      <strong>New Customer</strong>
    </h2>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
  <br />
  <div class="form-row" style="height: 80px;">
    <!-- Grid column -->
    <div class="col-md-6 ">
      <!-- Material input -->

      <div class="md-form form-group">
        <%= f.text_field :first_name, id: 'inputfirstName4MD',
                         autofocus: true, autocomplete: "first_name",
                         class: "form-control", placeholder: "First Name",
                          style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :last_name, id: 'inputlastName4MD',
                         autofocus: true, autocomplete: "last_name",
                         class: "form-control", placeholder: "Last Name",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <br />
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :phone, id: 'inputPhone4MD',
                         autofocus: true, autocomplete: "phone",
                         class: "form-control", placeholder: "Phone or Mobile",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :email, id: 'inputEmail4MD',
                         autofocus: true, autocomplete: "email",
                         class: "form-control", placeholder: "Email Address",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address, id: "inputAddressMD",
                         autofocus: true, autocomplete: "street_address",
                         class: "form-control", placeholder: "Street Address",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address2, id: "inputAddress2MD",
                         autofocus: true, autocomplete: "street_address2",
                         class: "form-control", placeholder: "Street Address 2",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :city, id: "inputCityMD",
                         autofocus: true, autocomplete: "city",
                         class: "form-control", placeholder: "City",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->

    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :postal, id: "inputPostalMD",
                         autofocus: true, autocomplete: "postal",
                         class: "form-control", placeholder: "Postal",
                         style: "font-size: x-large" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">

        <!--Blue select-->
        <div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle" 
          name="customer[province]"
          type="button" id="dropdownMenuButton" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
            Province
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%select_tag 'province', options_for_select(Customer::PROVINCES.map {|k,v| [v,k]},selected: customer.province) %>
          </div>
          </select>
          <label></label>
        </div>
        <!--/Blue select-->
  
    </div>
    <!-- Grid column -->

    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <!-- Material inline 1 -->
        <div class="form-check form-check-inline">
          <%= f.radio_button :agreement_status, 1,
                id: 'ag_status01',
                class: 'form-check-input',
                name: 'customer[agreement_status]'
          %>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline">
          <%= f.radio_button :agreement_status, 0,
                             id: 'ag_status02',
                             class: 'form-check-input',
                             name: 'customer[agreement_status]',
                             style: "font-size: x-large" %>

          <label class="form-check-label" for="ag_status02">Unsigned</label>
        </div>

        <!-- Material inline 3 -->
        <div class="form-check form-check-inline">
        </div>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">

      </div>
    </div>
  </div>
  <!-- Grid column -->

  <div class="col-md-6">
    <!-- Material input -->
    <div class="md-form form-group">
      <%= f.submit "Save New Customer", class: "btn btn-outline-primary btn-rounded waves-effect" %>
    </div>
  </div>
  <!-- Grid column -->
  </div>
<% end %>