<%= form_for @customer, class: "form-horizontal" do |f| %>
  <div class="row">
    <div id="one" class="col-sm-6 mb-3 mb-md-0">

        <div class="card-header h3">Details</div>

            <div class="form-group">

              <%= f.text_field :first_name, id: 'firstName',
                               autofocus: true, autocomplete: "first_name",
                               class: "form-control", placeholder: "First Name" %>
              <br />
              <%= f.text_field :last_name, id: 'lastName',
                               autofocus: true, autocomplete: "last_name",
                               class: "form-control", placeholder: "Last Name" %>
              <br />
              <%= f.text_field :email, id: 'email',
                               autofocus: true, autocomplete: "email",
                               class: "form-control", placeholder: "Email Address" %>
              <br />
              <%= f.text_field :phone, id: 'phone',
                               autofocus: true, autocomplete: "phone",
                               class: "form-control", placeholder: "Phone"%>
              <br />

              <%= f.text_field :street_address, id: 'streetAddress',
                               autofocus: true, autocomplete: "street_address",
                               class: "form-control", placeholder: "Street Address" %>
              <br />
              <%= f.text_field :city, id: 'city',
                               autofocus: true, autocomplete: "city",
                               class: "form-control", placeholder: "City"%>
              <br />
            </div>
        </div>
    <br /> <br />
      <div id="two" class="col-sm-6">
        <br />
        <div class="card-header h3">Account Info</div>
        <div class="form-group">
          <br />
          <div class="field">
          </div>
            <br />
          <div class="field">
            <%= f.label :agreement_status %><br />
            <%= select("customer", "agreement_status", Customer::AGREEMENT_STATUS, {include_blank: true}) %>
          </div>
        </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save New Customer', {class: "form-control btn btn-primary"} %>
  </div>
<% end %>