<tbody>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.full_name %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.email %></td>
    <td >
      <%= link_to ' ', items_customers_path(customer.id), class: 'fa fa-lg fa-list-ol icon btn-md-primary' %>
    </td>
    <td>
      <%= link_to ' ', edit_customer_path(customer.id), class: 'fa fa-lg fa-id-card-o btn-md-primary' %>
    </td>
  </tr>
<% end %>
</tbody>