<%= form_with(model: customer, local: true) do |f| %>

  <div class="row team-boxed">
    <div id="one" class="col-lg-4 item grey-border">
      <br />
      <p class="title">Details</p>
      <br /><br />

      <div class="form-group">

        <%= f.text_field :first_name, id: 'firstName',
                         autofocus: true, autocomplete: "first_name",
                         class: "form-control", placeholder: "First Name" %>
        <br />
        <%= f.text_field :last_name, id: 'lastName',
                         autofocus: true, autocomplete: "last_name",
                         class: "form-control", placeholder: "Last Name" %>
        <br />
        <%= f.text_field :email, id: 'email',
                         autofocus: true, autocomplete: "email",
                         class: "form-control", placeholder: "Email Address" %>
        <br />
        <%= f.text_field :phone, id: 'phone',
                         autofocus: true, autocomplete: "phone",
                         class: "form-control", placeholder: "Phone"%>
        <br />

        <%= f.text_field :street_address, id: 'streetAddress',
                         autofocus: true, autocomplete: "street_address",
                         class: "form-control", placeholder: "Street Address" %>
        <br />
        <%= f.text_field :city, id: 'city',
                         autofocus: true, autocomplete: "city",
                         class: "form-control", placeholder: "City"%>
        <br />
      </div>
    </div>
    <div id="two" class="col-lg-4 item grey-border">
      <br />
      <p class="title">Account Info</p>
      <br /><br />
      <div class="form-group">
        <%= f.label 'Account Opened On:', class: "text-left" %>
        <%= f.date_field :acct_open_date, id: 'acctOpenDate',
                         autofocus: true, autocomplete: "acct_open_date",
                         class: "form-control", placeholder: "Account Open Date" %>
        <br />
        <%= f.label 'Last Transaction Date:', class: "text-left" %>
        <%= f.date_field :last_trans_date, id: 'lastTransDate',
                         autofocus: true, autocomplete: "last_trans_date",
                         class: "form-control", placeholder: "Last Transaction Date"%>
        <br />
        <%= f.select :agreement_status, Customer.agreement_statuses.collect {|d| [d.to_s,d.to_s]},
                     { prompt: 'Agreement Status', selected: @customer.agreement_status },
                     { class: "form-control" } %>
        <br />

        <%= f.select :trans_type, Customer.trans_types.collect {|d| [d.to_s,d.to_s]},
                     { prompt: 'Last Transaction on Account', selected: @customer.trans_type },
                     { class: "form-control", disabled: true} %>

        <br />

      </div>
      <div class="actions">
        <%= f.submit 'Update Customer', {class: "form-control btn btn-primary"} %>
      </div>
    </div>
  </div>


<%end %>