<%= form_for @customer do |f| %>
  <table class="table table-striped table-bordered">
    <tr>
      <td>ID :<b><%=@customer.id %></b></td>
      <td>Name:<b><%= @customer.full_name%></b></td>
      <td>Email:<b><%=@customer.email %></b></td>
      <td>Phone:<b><%=@customer.phone %></b></td>
    </tr>
  </table>
  <!--Table-->
    <%= f.fields_for @item do |item_fields|%>
      <div class="team-boxed">
        <div class="container">
          <div class="row people" >
            <div class="col-md-6 col-lg-4 item grey-border">
                <p class="title">Type</p>
                <div class="item">

                  <div class="cc-selector">
                    <input id="visa" type="radio" name="credit-card" value="visa" />
                    <label class="drinkcard-cc visa" for="visa"></label>

                    <input id="glyph-arrow" type="radio" name="credit-card" value="glyph-arrow" />
                    <label class="drinkcard-cc jenkins" for="glyph-arrow"></label>

                    <input id="mastercard" type="radio" name="credit-card" value="mastercard" />
                    <label class="drinkcard-cc mastercard"for="mastercard"></label>
                  </div>

              </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-6 col-lg-4 item grey-border">

                <p class="title">Description</p>
                <%= item_fields.text_field :size  %>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>

            </div>
            <div class="col-md-6 col-lg-4 item grey-border">

                <p class="title">Size</p>
                <%= item_fields.number_field :price  %>

                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>

            </div>
          </div>
        </div>
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>