
<%= form_with model: @customer, url: customer do |f| %>
  <!-- Grid row -->
  <!-- Material form register -->
  <div class="d-flex justify-content-center">
  <div class="card w-75 mb-3" >

    <h2 class="card-header info-color white-text text-center py-4">
      <strong>New Customer</strong>
    </h2>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
  <br />
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6 ">
      <!-- Material input -->

      <div class="md-form form-group ">
        <%= f.text_field :first_name, id: 'inputfirstName4MD', 
                         autofocus: true, autocomplete: "first_name",
                         class: "form-control", placeholder: "First Name",
                          style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :last_name, id: 'inputlastName4MD',
                         autofocus: true, autocomplete: "last_name",
                         class: "form-control", placeholder: "Last Name",
                         style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>
   <!-- Row 2 -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :phone, id: 'inputPhone4MD',
                         autofocus: true, autocomplete: "phone",
                         class: "form-control", placeholder: "Phone or Mobile",
                         style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :email, id: 'inputEmail4MD',
                         autofocus: true, autocomplete: "email",
                         class: "form-control", placeholder: "Email Address",
                         style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address, id: "inputAddressMD",
                         autofocus: true, autocomplete: "street_address",
                         class: "form-control", placeholder: "Street Address",
                         style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address2, id: "inputAddress2MD",
                         autofocus: true, autocomplete: "street_address2",
                         class: "form-control", placeholder: "Street Address 2",
                         style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :city, id: "inputCityMD",
                         autofocus: true, autocomplete: "city",
                         class: "form-control", placeholder: "City",
                         style: "font-size: medium" %>
      </div>
    </div>

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :postal, id: "inputPostalMD",
                         autofocus: true, autocomplete: "postal",
                         class: "form-control", placeholder: "Postal",
                         style: "font-size: medium" %>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <div class="md-form mt-5 w-50">
        <%= f.select  :province, options_for_select(Customer::PROVINCES.map {|k,v| [v,k]}),
            {:include_blank => "Select Province"},{class: "browser-default md-select"} %>
        <label class="active">Province</label>
      </div>

    </div>
  </div>
  <!-- Grid column -->

  <div class="col-md-6">
    <!-- Material input -->
    <div class="md-form form-group">
      <%= f.submit "Save New Customer", class: "btn btn-outline-primary btn-rounded waves-effect" %>
    </div>
  </div>
  <!-- Grid column -->
  </div>
<% end %>