<tbody>
    <% @customerItems.each do |item| %>
      <tr class="h5" cellpadding="0">
        <td style="text-center align-middle" class="h5 text-center"><%= item_id_badge(item.id) %></td>
        <td style="text-center align-middle" class="h5 text-center"><%= simple_date(item.takein_date) %></td>
        <td class="text-left h5 align-middle"><%= item.description.truncate(75) %></td>
        <td class="text-center align-middle h5"><%= gender_label(item.gender) %></td>
        <td class="text-center align-middle h5"><%= type_label(item.item_type) %></td>
        <td class="text-center align-middle h5"><%= size_label(item.size) %></td>
        <td style="text-center align-middle" class="h5 text-center"><%= number_to_currency(item.price)%></td>
        <td style="text-center align-middle" class="h5 text-center"><%= status_label(item.status) %></td>
      </tr>
    <% end %>

</tbody>
    <div class="col text-right">
      <div class="text-center">
        <div class="btn btn-outline-black">
          <%= link_to 'Take In Items', takein_items_path %>
          <i class="fas fas fa-plus pl-1"></i>
        </div>
      </div>
    </div>
    <tfoot>
    
    </tfoot>
</table>