
<%= form_for @customer, class: "form-horizontal" do |f| %>
  <div class="row">
    <div id="one" class="col-md-6">
      <br />
      <div class="card border-secondary">
        <div class="card-header bg-warning h3">Details</div>
        <div class="card-body">
          <%= f.text_field :first_name, id: 'firstName',
                           autofocus: true, autocomplete: "first_name",
                           class: "form-control", placeholder: "First Name" %>
          <br />
          <%= f.text_field :last_name, id: 'lastName',
                           autofocus: true, autocomplete: "last_name",
                           class: "form-control", placeholder: "Last Name" %>
          <br />
          <%= f.text_field :email, id: 'email',
                           autofocus: true, autocomplete: "email",
                           class: "form-control", placeholder: "Email Address" %>
          <br />
          <%= f.text_field :phone, id: 'phone',
                           autofocus: true, autocomplete: "phone",
                           class: "form-control", placeholder: "Phone"%>
          <br />

          <%= f.text_field :street_address, id: 'streetAddress',
                           autofocus: true, autocomplete: "street_address",
                           class: "form-control", placeholder: "Street Address" %>
          <br />
          <%= f.text_field :city, id: 'city',
                           autofocus: true, autocomplete: "city",
                           class: "form-control", placeholder: "City"%>
          <br />
        </div>
      </div>
    </div>
    <!---- 2nd card --------->
    <div id="one" class="col-md-6">
      <br />
      <div class="card border-secondary">
        <div class="card-header h3">Notes</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#!" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
<% end %>