<tbody>
<% @customerItems.each do |item| %>
  <tr class="h3">
    <td style="text-center align-middle"><%= item.id %></td>
    <td style="text-center align-middle"><%= item.description %></td>
    <td style="text-center align-middle"><%= size_label (item.size) %></td>
    <td style="text-center align-middle"><%= number_to_currency(item.price)%></td>
    <td style="text-center align-middle"><%= link_to 'Edit', edit_item_path(item), class: "btn btn-md btn-outline-primary waves-effect" %></td>
    <td style="text-center align-middle"><%= link_to 'Delete', item, method: :delete, class: "btn btn-md btn-outline-danger waves-effect", data: { confirm: 'Are you Malcom?' } %></td>
  </tr>
<% end %>
</tbody>
</table>