<table class="blueTable">
<thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
  <tr>
  <td style="width: 5%;">
   
    </td >
    
    <td style="width: 60%;">
     <table id="customerItemsDataTable" class="table table-striped ordering" cellspacing="0" >
      <thead>
        <tr>
          <th class="text-center h5">
            Item id
          </th>
          <th class="text-center h5">
            Description
          </th>
          <th  class="text-center h5">
            Size
          </th>
          <th  class="text-center h5">
            Price
          </th>
          <th  class="text-center h5">
          Status
          </th>
        </tr>
        </thead>
        <tbody>
        <tbody>
            <% @customerItems.each do |item| %>
              <tr class="h3" cellpadding="0">
                <td style="text-center align-middle"><%= item.id %></td>
                <td style="text-center align-middle"><%= item.description %></td>
                <td style="text-center align-middle"><%= size_label (item.size) %></td>
                <td style="text-center align-middle"><%= number_to_currency(item.price)%></td>
                <td style="text-center align-middle"><%= status_label(item.status) %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </td>
    
    <td style="width: 15%;">
     <%= render 'customers/partials/dates' %>
    </td>
    
    <td style="width: 5%;">cell4_2

    </td>
  </tr>
  
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
  </tr>
</table>