<%= form_for @customer do |f| %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <!--Table-->
  <table id="tablePreview" class="table table-dark">
    <!--Table head-->
    <thead>
    <tr>
      <th>Item ID</th>
      <th>Description</th>
      <th>Size</th>
      <th>Price</th>
    </tr>
    </thead>
    <!--Table head-->
    <tbody>
    <%= f.fields_for :items do |item_fields|%>
    <tr>
      <td><%= item_fields.number_field :id %></td>
      <td><%= item_fields.text_field :description  %></td>
      <td><%= item_fields.text_field :size  %></td>
      <td><%= item_fields.number_field :price  %></td>
    </tr>
    </tbody>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>

</table>
<body>
<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Team </h2>
      <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="box"><img class="rounded-circle" src="assets/img/1.jpg">
          <h3 class="name">Ben Johnson</h3>
          <p class="title">Musician</p>
          <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
          <h3 class="name">Emily Clark</h3>
          <p class="title">Artist</p>
          <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box"><img class="rounded-circle" src="assets/img/3.jpg">
          <h3 class="name">Carl Kent</h3>
          <p class="title">Stylist</p>
          <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>