<tbody>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.email %></td>
  </tr>
<% end %>
</tbody>
<table style="height: 239px; width: 710px;">
  <tbody>
  <tr style="height: 24px;">
    <td style="width: 256px; height: 24px;">&nbsp;</td>
    <td style="width: 265px; height: 24px;">&nbsp;</td>
    <td style="width: 96px; height: 24px;">&nbsp;</td>
    <td style="width: 92px; height: 24px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">&nbsp;</td>
    <td style="width: 265px; height: 25px;">&nbsp;</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">ID</td>
    <td style="width: 265px; height: 25px;">Date</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">First Name</td>
    <td style="width: 265px; height: 25px;">XXXXXX</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">Last Name</td>
    <td style="width: 265px; height: 25px;">XXXXXX</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">Phone</td>
    <td style="width: 265px; height: 25px;">XXXXXX</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">&nbsp;</td>
    <td style="width: 265px; height: 25px;">&nbsp;</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 25px;">
    <td style="width: 256px; height: 25px;">&nbsp;</td>
    <td style="width: 265px; height: 25px;">&nbsp;</td>
    <td style="width: 96px; height: 25px;">&nbsp;</td>
    <td style="width: 92px; height: 25px;">&nbsp;</td>
  </tr>
  <tr style="height: 29px;">
    <td style="width: 256px; height: 29px;">&nbsp;</td>
    <td style="width: 265px; height: 29px;">&nbsp;</td>
    <td style="width: 96px; height: 29px;">&nbsp;</td>
    <td style="width: 92px; height: 29px;">&nbsp;</td>
  </tr>
  </tbody>
</table>