<%= form_with(model: customer, local: true) do |f| %>
<!-- Extended material form grid -->
  <!-- Grid row -->
  <br />
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :first_name, id: 'inputfirstName4MD',
                         autofocus: true, autocomplete: "first_name",
                         class: "form-control", placeholder: "First Name" %>
        <label for="inputfirstName4MD">First Name</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :last_name, id: 'inputlastName4MD',
                         autofocus: true, autocomplete: "last_name",
                         class: "form-control", placeholder: "Last Name" %>
        <label for="inputlastName4MD">Last Name</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address, id: "inputAddressMD",
                         autofocus: true, autocomplete: "street_address",
                         class: "form-control", placeholder: "Street Address" %>
        <label for="inputAddressMD">Address</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address2, id: "inputAddress2MD",
                         autofocus: true, autocomplete: "street_address2",
                         class: "form-control", placeholder: "Street Address 2" %>
        <label for="inputAddress2MD">Address 2</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :city, id: "inputCityMD",
                         autofocus: true, autocomplete: "city",
                         class: "form-control", placeholder: "City"%>
        <label for="inputCityMD">City</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :postal, id: "inputPostalMD",
                         autofocus: true, autocomplete: "postal",
                         class: "form-control", placeholder: "Postal"%>
        <label for="inputPostalMD">Zip</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :city, id: "inputCityMD",
                         autofocus: true, autocomplete: "city",
                         class: "form-control", placeholder: "City"%>
        <label for="inputCityMD">City</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :postal, id: "inputPostalMD",
                         autofocus: true, autocomplete: "postal",
                         class: "form-control", placeholder: "Postal"%>
        <label for="inputPostalMD">Zip</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <button type="submit" class="btn btn-primary btn-md">Sign in</button>
</form>
<!-- Extended material form grid -->
<%end %>