<%= form_for @customer, class: "form-horizontal" do |f| %>
  <% if @customer.errors.any? %>
    <% @customer.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Application Notice", sticky: false) %>
    <% end %>
  <% end %>
  <!-- Extended material form grid -->
  <!-- Grid row -->
  <br />
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :first_name, id: 'inputfirstName4MD',
                         autofocus: true, autocomplete: "first_name",
                         class: "form-control", placeholder: "First Name" %>
        <label for="inputfirstName4MD">First Name</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :last_name, id: 'inputlastName4MD',
                         autofocus: true, autocomplete: "last_name",
                         class: "form-control", placeholder: "Last Name" %>
        <label for="inputlastName4MD">Last Name</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <br />
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :phone, id: 'inputPhone4MD',
                         autofocus: true, autocomplete: "phone",
                         class: "form-control", placeholder: "Phone or Mobile" %>
        <label for="inputPhone4MD">Phone or Mobile</label>

      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :email, id: 'inputEmail4MD',
                         autofocus: true, autocomplete: "email",
                         class: "form-control", placeholder: "Email Address" %>
        <label for="inputEmail4MD">Email Address</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address, id: "inputAddressMD",
                         autofocus: true, autocomplete: "street_address",
                         class: "form-control", placeholder: "Street Address" %>
        <label for="inputAddressMD">Address 1</label>
      </div>
    </div>
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :street_address2, id: "inputAddress2MD",
                         autofocus: true, autocomplete: "street_address2",
                         class: "form-control", placeholder: "Street Address 2" %>
        <label for="inputAddress2MD">Address 2</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :city, id: "inputCityMD",
                         autofocus: true, autocomplete: "city",
                         class: "form-control", placeholder: "City"%>
        <label for="inputCityMD">City</label>
      </div>
    </div>
    <!-- Grid column -->

    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <%= f.text_field :postal, id: "inputPostalMD",
                         autofocus: true, autocomplete: "postal",
                         class: "form-control", placeholder: "Postal"%>
        <label for="inputPostalMD">Postal</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <!--Blue select-->
        <div class="input-group mb-3 ">
          <select name="customer[province]" id="mdb-select" class="mdb-select md-form colorful-select dropdown-primary">
            <%= options_for_select(Customer::PROVINCES.map {|k,v| [v,k]},selected: customer.province) %>
          </select>
          <label>Province</label>
        </div>
        <!--/Blue select-->
      </div>
    </div>
    <!-- Grid column -->


    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <!-- Material inline 1 -->
        <div class="form-check form-check-inline">
          <%= f.radio_button :agreement_status, 1,
                id: 'ag_status01',
                class: 'form-check-input',
                name: 'customer[agreement_status]' %>

          <label class="form-check-label" for="ag_status01">Signed</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline">
          <%= f.radio_button :agreement_status, 0,
                             id: 'ag_status02',
                             class: 'form-check-input',
                             name: 'customer[agreement_status]' %>

          <label class="form-check-label" for="ag_status02">Unsigned</label>
        </div>

        <!-- Material inline 3 -->
        <div class="form-check form-check-inline">
        </div>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">

      </div>
    </div>
  </div>
  <!-- Grid column -->

  <div class="col-md-6">
    <!-- Material input -->
    <div class="md-form form-group">
    </div>
  </div>
  <!-- Grid column -->
  </div>

  <%= f.submit "Save New Customer" %>

<% end %>