<tbody>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.phone %></td>
    <td >
      <%= link_to ' ', items_customers_path(customer.id), class: 'fa fa-lg fa-list-ol icon' %>
    </td>
  </tr>
<% end %>

