<%= form_for Customer.new do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-icon"><span><i class="icon-user icon"></i></span></div>
  <div class="registration-form">

    <div class="form-group">
      <%= form.text_field :first_name, class: "form-control item", type: "text", placeholder: "First Name" %>
    </div>

    <div class="form-group">
      <%= form.text_field :last_name, class: "form-control item", type: "text", placeholder: "Last Name" %>
    </div>

    <div class="form-group">
      <%= form.text_field :email, class: "form-control item", type: "email", placeholder: "Email Address" %>
    </div>

    <div class="form-group">
      <%= form.text_field :phone, class: "form-control item", type: "phone", placeholder: "Phone" %>
    </div>

  </div>

  <div class="form-group"><%= form.submit :Submit, class: 'btn btn-primary btn-block create-account'%> </button></div>
<% end %>


