<br />
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Panel title</h5>
      <p class="card-text"><%=@customer.id %></p>
      <p class="card-text"><%=@customer.email%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Panel title</h5>
      <p class="card-text"><%=@customer.full_name%></p>
      <p class="card-text"><%=@customer.phone%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text text-center"></p>
      <div class="text-center">
      <%= button_to 'Take In New Item',
                    takein_customers_path(:id => @customer.id),
                    type: "button", class: "btn-outline-secondary btn-lg waves-effect" %>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br />

<table id="appDataTable" class="table table-striped ordering" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="text-center h5"">
      id
    </th>
    <th class="text-center h5"">
      Description
    </th>
    <th  class="text-center h5"">
      Size
    </th>
    <th  class="text-center h5"">
      Price
    </th>
    <th  class="text-center h5"">
    </th>
    <th  class="text-center h5"">
    </th>
  </tr>
  </thead>
  <tbody>
  <%= render 'customerItems' %>