<p id="notice"><%= notice %></p>

<h1>Pickup Dates</h1>

<table>
  <thead>
    <tr>
      <th>Current pu date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickup_dates.each do |pickup_date| %>
      <tr>
        <td><%= pickup_date.current_pu_date %></td>
        <td><%= link_to 'Show', pickup_date %></td>
        <td><%= link_to 'Edit', edit_pickup_date_path(pickup_date) %></td>
        <td><%= link_to 'Destroy', pickup_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickup Date', new_pickup_date_path %>
