<% content_for :title, "Item Intake" %>
<% render '/customers/partials/locateCustomer' %>
<div class="card-deck">
  <div class="row">
    <div class="card border-primary mb-3">
      <div class="card-body">
        <%= link_to new_customer_path do %>
           <h3 class="card-title ">Add New Customer</h3>
        <%end %>
           <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-danger mb-3">
      <div class="card-body">
        <%= link_to customers_path do %>
          <h3 class="card-title">Customer Search</h3>
        <%end %>
          <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-body">
        <%= link_to items_path do %>
          <h3 class="card-title">Items</h3>
        <%end %>
              <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card border-dark mb-3">
      <div class="card-body">
        <%= link_to pickups_items_path do %>
          <h3 class="card-title">Manage Pickups</h3>
        <%end %>
          <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Current Pickup Date is : 2019-09-09</small>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body">
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm">Launch
          Modal Subscription Form</a>
        <%= link_to  customers_path do %>
          <h3 class="card-title">Take In Items</h3>
        <%end %>
        <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Confusicous Says: ...</small>
      </div>
    </div>
  </div>


  <%= link_to 'Add user', root_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  </div>
