<% content_for :title, "Configuration" %>
<div class="d-flex justify-content-center align-items-center">
<div class="card-deck card-deck-center">
  <div class="row">
    <div class="card border-secondary mb-3" style="width:400px">
      <div class="card-body">
        <h2 class="card-header purple white-text text-center ">
            <strong>Customers</strong>
          </h2>
        <%= link_to customers_path do %>
           <h3 class="card-title">Customer List</h3>
        <%end %>
        <%= link_to new_customer_path do %>
           <h3 class="card-title">Add New Customer</h3>
        <%end %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-dark mb-3" style="width:400px">
      <div class="card-body">
          <h2 class="card-header orange white-text text-center ">
            <strong>Items</strong>
          </h2>    
          
        <%= link_to items_path do %>
          <h3 class="card-title">Item List</h3>
        <%end %>

        <%= link_to new_item_path do %>
          <h3 class="card-title">Add New Item</h3>
        <%end %>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-dark mb-3" style="width:400px">
      <div class="card-body">
        <h2 class="card-header black white-text text-center ">
          <strong>Admin</strong>
        </h2>

          <%= link_to configs_path do %>
            <h3 class="card-title">List of Configurations</h3>
          <%end %>
        
          <%= link_to new_config_path do %>
            <h3 class="card-title">Add New Configuration</h3>
          <%end %>

      </div>
      <div class="card-footer">
        <small class="text-muted"
          <%= render 'shared/pickupDateNotice' %>
        </small>
      </div>
    </div>










    <% render 'shared/pickupDateNotice' %>
    <div class="card border-dark mb-3" style="width:400px">
      <div class="card-body">
        <h2 class="card-header blue white-text text-center ">
          <strong>Take In</strong></h2>
      </div>
        <%= link_to "Change Pickup Date", "#my-modal", :class => "btn btn-outline-secondary", "data-toggle" => "modal" %>
        <div class="modal" tabindex=-1 role="dialog" id="my-modal" title="My modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Pickup Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <%= render partial: "static/partials/setPickupModal" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" type="submit">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>

  </div>
</div>