<% content_for :title, "Configuration" %>
<div class="d-flex justify-content-center align-items-center">
<div class="card-deck card-deck-center">
  <div class="row">

    <div class="card border-secondary mb-3" style="width:400px">
      <div class="card-body">
        <h2 class="card-header purple white-text text-center ">
            <strong>Customers</strong>
          </h2>
        <%= link_to customers_path do %>
           <h3 class="card-title">Customer List</h3>
        <%end %>
        <%= link_to new_customer_path do %>
           <h3 class="card-title">Add New Customer</h3>
        <%end %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-dark mb-3" style="width:400px">
      <div class="card-body">
          <h2 class="card-header orange white-text text-center ">
            <strong>Items</strong>
          </h2>    
          
        <%= link_to items_path do %>
          <h3 class="card-title">Item List</h3>
        <%end %>

        <%= link_to new_item_path do %>
          <h3 class="card-title">Add New Item</h3>
        <%end %>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-dark mb-3" style="width:400px">
      <div class="card-body">
        <h2 class="card-header black white-text text-center ">
          <strong>Admin</strong>
        </h2>

          <%= link_to configs_path do %>
            <h3 class="card-title">List of Configurations</h3>
          <%end %>
        
          <%= link_to new_config_path do %>
            <h3 class="card-title">Add New Configuration</h3>
          <%end %>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card border-dark mb-3" style="width:400px">
      <div class="card-body">
        <h2 class="card-header blue white-text text-center ">
          <strong>Take In</strong>
        </h2>

      <p><button data-micromodal-trigger="modal-1">Click here to open the modal!</button></p>
        <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
          <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
              <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                  Micromodal
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
              </header>
              <main class="modal__content" id="modal-1-content">
                <p>
                Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
                </p>
              </main>
              <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary">Continue</button>
                <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
              </footer>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  </div>
  </div>