
  <div class="card text-center">
    <div class="card-header">
      <h4>Item Status</h4>
    </div>
    <div class="card-body >
      <h5 class="card-title">
        <div class="row">
          <div class="col text-right">
            <b>Clerk:</b>
          </div>
          <div class="col text-left">
            <%= @item.clerk %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Take In Date:</b>
          </div>
          <div class="col text-left">
            <%=  @item.takein_date.nil? ? 'Not Set' :  @item.takein_date.strftime("%d-%b-%Y") %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Customer:</b>
          </div>
          <div class="col text-left">
            <%= @item.customer.full_name %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col text-right">
            <b>Item Pickup Date</b>
          </div>
          <div class="col text-left">
            <%= @item.pickup_date.nil? ? 'Not Set' : @item.pickup_date.strftime("%d-%b-%Y") %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Sold On:</b>
          </div>
          <div class="col text-left">
            <%= @item.sold_date.nil? ? 'Still for sale' : @item.sold_date.strftime("%d-%b-%Y") %>
          </div>
        </div>
        <br />
      </h5>
      <p class="card-text">
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      <em>Item last updated: <%= @item.updated_at.strftime("%d-%b")  %> </em>
    </div>
  </div>
