
  <div class="card text-center">
    <div class="card-header">
      <h4>Item Status</h4>
    </div>
    <div class="card-body >
      <h5 class="card-title">
        <div class="row">
          <div class="col text-right">
            <b>Clerk:</b>
          </div>
          <div class="col text-left">
            <%= simple_txt(@item.clerk) %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Take In Date:</b>
          </div>
          <div class="col text-left">
            <%=  simple_date(@item.takein_date) %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Customer:</b>
          </div>
          <div class="col text-left">
            <%= simple_txt(@item.customer.full_name) %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col text-right">
            <b>Item Pickup Date</b>
          </div>
          <div class="col text-left">
            <%= simple_date(@item.pickup_date) %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Sold On:</b>
          </div>
          <div class="col text-left">
            <%= simple_date(@item.sold_date) %>
          </div>
        </div>
        <br />
      </h5>
      <p class="card-text">
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      <em>Item last updated: <%= simple_date(@item.updated_at.strftime("%d-%b"))  %> </em>
    </div>
  </div>
