<tbody>
<% @items.each do |item| %>
  <tr >
    
    <td class="text-center h5 align-middle"><%= item.id.to_s %></td>
      

    <td class="text-center align-middle h5"><%= gender_label(item.gender) %></td>
    <td class="text-center align-middle h5"><%= size_label(item.size) %></td>
    <td class="text-center align-middle h5"><%= type_label(item.item_type) %></td>
    <td class="text-left h5 align-middle">
      <%= link_to edit_item_path(item.id) do %>
        <%= item.description.truncate(75) %>
      <%end%>
    </td>
    <td class="text-left h5 align-middle">
      <%= link_to edit_customer_path(item.customer.id) do %>
        <%= item.customer.full_name.truncate(50) %></span>
        <% end %>
    </td>


    <td class="text-left h5 align-middle"><%= item.customer.phone %></td>
    <td class="text-right h5 align-left"><%= number_to_currency(item.price) %></td>
    <td class="text-center h5 align-middle">
    <div class="itemDeleteIcon protip " data-pt-title="Edit item"
                                         data-pt-position="bottom"
                                         data-pt-scheme="aqua"
                                         data-pt-icon="info-circled"
                                         data-pt-size="large"
                                          data-pt-arrow="false">
      <%= link_to edit_item_path(item) do %>
        <i class="fal fa-edit fa-2x text-info"></i>
      <% end %>
    </div>
    </td>
    <td class="text-center h5 align-middle">
      <div class="itemDeleteIcon protip " data-pt-title="Delete this item"
                                        data-pt-position="right"
                                        data-pt-scheme="red"
                                        data-pt-icon="info-circled"
                                        data-pt-size="large"
                                        data-pt-arrow="false">
      <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fal fa-layer-minus fa-2x text-danger " ></i>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>
</tbody>
</table>