<% @items.each do |item| %>
  <tr>
    <td class="text-center"><%= item.id %></td>
    <td class="text-center"><%= item.customer_id %></td>
    <td class="text-left"><%= item.customer.full_name.truncate(50) %></td>
    <td class="text-center"><%= size_label(item.size) %></td>
    <td class="text-left"><%= item.description %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td><%= link_to 'Edit', edit_item_path(item), class: "btn btn-sm btn-outline-primary" %></td>
    <td><%= link_to 'Delete', item, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>