<%= form_for @takeinItem do |i| %>
  <div class="row d-flex justify-content-center" >
    <div class="card rounded-sm" style="width: 70%;">
      <div class="card-header">
        Take In Items
      </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <div class="row d-flex justify-content-center">
          
          <%-# left column -%>
          <div class="col-4-lg">
            <div class="card bg-light mb-3 rounded-sm" style="max-width: 20rem;">
              <div class="card-header h4">Item Details</div>
                <div class="card-body">
                  <%= i.select  :gender, options_for_select(Item::ITEM_GENDERS.map {|v, k| [k, v]}),
                    {:include_blank => "Select Gender"},{class: "browser-default"} %>
                </div>
                <div class="card-body">
                  <%= i.select :item_type, options_for_select(Item::ITEM_TYPES.map {|v, k| [k, v]}),
                    {:include_blank => "Select Item Type"},{class: "browser-default md-select"} %>
                </div>
                <div class="card-body">
                  <%= i.select  :size, options_for_select(Item::ITEM_SIZES.map {|v, k| [k, v]}),
                        {:include_blank => "Select Item Size"},{class: "browser-default md-select"} %>
                </div>
              </div>
          </div>

          <%-# right column -%>
          <div class="col-4-lg">
            <div class="card bg-light mb-3 rounded-sm" style="max-width: 20rem;">
              <div class="card-header h4">Item Details</div>
                <div class="card-body">
                  <%= i.text_field :price, id: "itemPrice",
                    autofocus: true, autocomplete: "itemPrice",style: "width:150px !important",
                    class: "form-control ", placeholder: "Price" %>
                <label class="active">Price</label>
                </div>
                <div class="card-body">
                <%= i.text_field :description, id: 'itemDescription',
                                          autofocus: true, autocomplete: "itemDescription",
                                          class: "form-control", placeholder: "Description"%>
                <label class="active">Enter a Short Description</label>
                </div>
                <div class="card-body">
                  <%= i.text_area :item_note, class: 'form-control',
                    cols: "10", rows: "5", placeholder: "Private Item Notes" %>
                  <label class="active">Private Item Notes</label>                 
                </div>
              </div>
          </div>
          <div class="col-2-lg">
          <div class="card-body">
            <div class="text-center">
              <div class="btn btn-primary">
                <%= link_to "Save & Next", addtakein_items_path %>
              
              </div>
              
            </div>
            </div>
          </div>
          
        <%#row%>
      </div>

      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    </div>
  <% end %>