<div class="d-lg-flex justify-content-center">
  <div class="w-100">
    <style>
      .form-control{
        font-size: 18px;
      }
      .select-wrapper input.select-dropdown {
        font-size: 1rem;
        font-family: 'Montserrat', Courier, monospace;
        padding-left: 10px;
      }
      .dropdown-content li > span {
        font-size: 1rem;
        color: black;
        display: block;
        padding: 0.3rem; }
    </style>
<%= form_with id: "itemEditform", model: @item do |f| %>
  <!-- Notifications -->
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |e| %>
      <%= js add_gritter(e, title: "Notice", :image => image_path('info.png'), sticky: false) %>
    <% end %>
  <% end %>
  <!-- Extended material form grid -->
  <!-- /Users/Shaun/.rvm/gems/ruby-2.5.0/gems/bootstrap-sass-3.4.0/assets/stylesheets/bootstrap/_forms.scss -->
  <!-- Outside row -->
    <div class="row">
      <!-- Left column  -->
      <div class="col">
        <!-- Row 1-->
        <div class="row">
          <div class="md-form form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text teal lighten-4">
                <i class="fal fa-user fa-2x"></i>
              </span>
            <%= f.text_field :description, id: 'itemDescription',
                             autofocus: true, autocomplete: "itemDescription",
                             class: "form-control protip", placeholder: "Description",
                             'data-pt-title' => "Description (required)",
                             'data-pt-position' => 'bottom-left'
            %>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="md-form form-group input-group">
          <div class="input-group-prepend">
                  <span class="input-group-text teal lighten-4">
                    <i class="fal fa-expand-alt fa-2x"></i>
                  </span>
            <div class="protip" data-pt-title="Item Size (required)"
                 data-pt-position="bottom-left"
                 data-pt-scheme="red">
              <select name="item[size]" id="mdb-select"
                      class="mdb-select md-form colorful-select dropdown-primary" >
                <%= options_for_select(Item::ITEM_SIZES.map {|v, k| [k, v]}, selected: item.size) %>
              </select>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="md-form form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text teal lighten-4">
                  <i class="fal fa-usd-circle fa-2x"></i>
                </span>
              <%= f.text_field :price, id: "itemPrice",
                               autofocus: true, autocomplete: "itemPrice",
                               class: "form-control protip", placeholder: "Item Price",
                               'data-pt-title' => "Item Price (required - enter numbers only)",
                               'data-pt-position' => "bottom-left",
                               'data-pt-scheme' => "red" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="md-form form-group input-group">
            <div class="input-group-prepend">
                  <span class="input-group-text teal lighten-4">
                    <i class="fal fa-map-marker fa-2x "></i>
                  </span>
              <div class="protip" data-pt-title="Item Size (required)"
                   data-pt-position="bottom-left"
                   data-pt-scheme="red">
                <select name="item[item_type]" id="mdb-select"
                        class="mdb-select md-form colorful-select dropdown-primary" >
                  <%= options_for_select(Item::ITEM_TYPES.map {|v, k| [k, v]}, selected: item.item_type) %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>
      <!-- Right column  -->
      <span class="border border-dark">
        <div class="col">
       <!-- Row 1  -->
          <div class="row">
            <div class="card border-info mb-3" style="max-width: 20rem;">
              <div class="card-header">Header</div>
                <div class="card-body text-info">
                  <h5 class="card-title">Info Panel title</h5>
                  <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                </div>
            </div>
          </div>
          <div class="row">
            Another row
          </div>
        </div>
    </span>
    </div>
<% end %>