<div class="d-lg-flex justify-content-center">
  <div class="w-100">
    <style>
      .form-control{
        font-size: 16px;
      }
      .select-wrapper input.select-dropdown {
        font-size: 1.2rem;
        font-family: 'Montserrat', Courier, monospace;
        padding-left: 10px;
      }
      .dropdown-content li > span {
        font-size: 1.4rem;
        color: black;
        display: block;
        padding: 0.3rem; }
    </style>
<%= form_with id: "itemEditform", model: @item do |f| %>
  <!-- Notifications -->
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |e| %>
      <%= js add_gritter(e, title: "Notice", :image => image_path('info.png'), sticky: false) %>
    <% end %>
  <% end %>
  <!-- Extended material form grid -->
  <!-- /Users/Shaun/.rvm/gems/ruby-2.5.0/gems/bootstrap-sass-3.4.0/assets/stylesheets/bootstrap/_forms.scss -->
  <!-- Outside row -->
    <div class="row">
      <!-- Left column  -->
      <div class="col-md-6">
        <div class="col">
          <!-- Row 1-->
          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text teal lighten-4">
                  <i class="fal fa-user fa-2x"></i>
                </span>
              <%= f.text_field :description, id: 'itemDescription', style: "width:350px !important",
                               autofocus: true, autocomplete: "itemDescription",
                               class: "form-control protip", placeholder: "Description",
                               'data-pt-title' => "Description (required)",
                               'data-pt-position' => 'bottom-left'
              %>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="md-form form-group input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text teal lighten-4">
                      <i class="fal fa-expand-alt fa-2x"></i>
                    </span>
              <div class="protip" data-pt-title="Item Size (required)"
                   data-pt-position="bottom-left"
                   data-pt-scheme="red">
                <select name="item[size]" id="mdb-select"
                        class="mdb-select md-form colorful-select dropdown-info" >
                  <%= options_for_select(Item::ITEM_SIZES.map {|v, k| [k, v]}, selected: item.size) %>
                </select>
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text teal lighten-4">
                    <i class="fal fa-usd-circle fa-2x"></i>
                  </span>
                <%= f.text_field :price, id: "itemPrice",
                                 autofocus: true, autocomplete: "itemPrice",style: "width:150px !important",
                                 class: "form-control protip", placeholder: "Item Price",
                                 'data-pt-title' => "Item Price (required - enter numbers only)",
                                 'data-pt-position' => "bottom-left",
                                 'data-pt-scheme' => "red" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                    <span class="input-group-text teal lighten-4">
                      <i class="fal fa-map-marker fa-2x "></i>
                    </span>
                <div class="protip" data-pt-title="Item Size (required)"
                     data-pt-position="bottom-left"
                     data-pt-scheme="red">
                  <select name="item[item_type]" id="mdb-select"
                          class="mdb-select md-form colorful-select dropdown-info" style=width:200px !important">
                    <%= options_for_select(Item::ITEM_TYPES.map {|v, k| [k, v]}, selected: item.item_type) %>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          <!-- Row 2  -->
        </div>
        </div>
        <!-- end of left column  -->
      </div>
      <!-- Right column  -->
      <span class="col-md-6">
          <!-- Card 1  -->
          <div class="row">
            <div class="card text-center w-100">
              <div class="card-header">
                <em>Dates</em>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <div class="row">
                    <div class="col text-right">
                      <b>Clerk:</b>
                    </div>
                    <div class="col text-left">
                        <%= item.clerk %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <b>Take In Date:</b>
                    </div>
                    <div class="col text-left">
                        <%= item.takein_date.strftime("%d-%b-%Y") %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <b>Customer:</b>
                    </div>
                    <div class="col text-left">
                        <%= item.customer.full_name %>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col text-right">
                      <b>Pickup Date</b>
                    </div>
                    <div class="col text-left">
                        <%= item.pickup_date.strftime("%d-%b-%Y") %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <b>Sold On:</b>
                    </div>
                    <div class="col text-left">

                        <%= item.sold_date.nil? ? 'Still for sale' : item.sold_date.strftime("%d-%b-%Y") %>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col text-right">
                      <b>Payout Date:</b>
                    </div>
                    <div class="col text-left">
                        <%= item.payout_date.nil? ? '-' : item.payout_date.strftime("%d-%b-%Y") %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <b>Payout %:</b>
                    </div>
                    <div class="col text-left">
                        <%= item.payout_pct.nil? ? '-' : item.payout_pct %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <b>Payout Amount:</b>
                    </div>
                    <div class="col text-left">
                        <%= item.payout_amount.nil? ? '-' : item.payout_amount %>
                    </div>
                  </div>
                </h5>
                <p class="card-text">
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <div class="card-footer text-muted">
                <em>Item last updated: <%= item.updated_at.strftime("%d-%b")  %> </em>
              </div>
            </div>
          </div>
          <br />
          <!-- End of right col  -->
    </span>
      <!-- End of Row  -->
    </div>
<% end %>