<% @items.each do |item| %>
  <tr>
    <td class="text-center"><%= item.id %></td>
    <td class="text-center"><%= item.customer_id %></td>
    <td class="text-left"><%= item.customer.full_name.truncate(50) %></td>
    <td class="text-center"><%= size_label(item.size) %></td>
    <td class="text-left"><%= item.description %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td style="text-align: center">
      <%= link_to edit_item_path(item) do %>
        <i class="fal fa-list fa-2x text-info"></i>
      <% end %>
    </td>
    <td style="text-align: center">
      <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fal fa-list fa-2x text-info"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>