<script>

</script>
<% @items.each do |item| %>
  <tr>
    <td class="text-center"><%= item.id %></td>
    <td class="text-center"><%= item.customer_id %></td>
    <td class="text-left"><%= item.customer.full_name.truncate(50) %></td>
    <td class="text-center"><%= size_label(item.size) %></td>
    <td class="text-left"><%= item.description %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td style="text-align: center">
      <div class="itemDeleteIcon protip " data-pt-title="Edit item"
                                         data-pt-position="bottom"
                                         data-pt-scheme="aqua"
                                         data-pt-icon="info-circled"
                                         data-pt-size="large"
                                          data-pt-arrow="false">
      <%= link_to edit_item_path(item) do %>
        <i class="fal fa-edit fa-2x text-info"></i>
      <% end %>
      </div>
    </td>
    <td style="text-align: center">
      <div class="itemDeleteIcon protip " data-pt-title="Delete this item"
                                        data-pt-position="right"
                                        data-pt-scheme="red"
                                        data-pt-icon="info-circled"
                                        data-pt-size="large"
                                        data-pt-arrow="false">
      <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fal fa-layer-minus fa-2x text-danger " ></i>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>
</tbody>
</table>