<%= form_for Item.new do |form| %>

  <div class="field">
    <%= form.number_field :customer_id, class: "form-control item", placeholder: "Customer_id ?" %>
  </div>

  <div class="field">
    <%= form.text_field :size, class: "form-control item", type: "text", placeholder: "Size" %>
  </div>

  <div class="field">
    <%= form.text_field :description, class: "form-control item", type: "text", placeholder: "Description" %>
  </div>


  <div class="field">
    <%= form.text_field :price, id: "currency", class: "form-control item", type: "currency", placeholder: "Price" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
