<style>
  .picker__frame {
    margin: 0 auto;
    min-width: 30rem !important;
    max-width: 20.3125rem;
    width: 18.75rem;
    max-height: 21.875rem;
  }
  table td {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .picker__select--month, .picker__select--year {
    font-size: 1.2em;
  }
  .picker__box .picker__footer .picker__button--today, .picker__box .picker__footer .picker__button--clear, .picker__box .picker__footer .picker__button--close {
    border: 1px solid #fff;
    background: #fff;
    font-size: 1.2em;
    padding: 1rem 0 0.7rem 0;
    font-weight: 700;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
  }
  .form-control{
    font-size: 16px;
  }
  .select-wrapper input.select-dropdown {
    font-size: 1.2rem;
    font-family: 'Montserrat', Courier, monospace;
    padding-left: 10px;
  }
  .dropdown-content li > span {
    font-size: 1.4rem;
    color: black;
    display: block;
    padding: 0.3rem; }

</style>

<div class="d-lg-flex justify-content-center">
  <div class="w-100">
    <%= form_with id: "itemEditform", model: @item do |f| %>
      <!-- Notifications -->
      <% if @item.errors.any? %>
        <% @item.errors.full_messages.each do |e| %>
          <%= js add_gritter(e, title: "Notice", :image => image_path('info.png'), sticky: false) %>
        <% end %>
      <% end %>
      <!-- Outside row -->
      <div class="row">
      <!-- Main Row  -->
      <div class="col-md-6">
        <!-- md-6 column left -->
        <div class="col">
          <!-- Main col left-->
          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text teal lighten-4">
                  <i class="fal fa-poll-h"></i>&nbsp&nbspDescription
                </span>
              </div>
                <%= f.text_field :description, id: 'itemDescription', style: "width:350px !important",
                                 autofocus: true, autocomplete: "itemDescription",
                                 class: "form-control protip", placeholder: "Description",
                                 'data-pt-title' => "Description (required)",
                                 'data-pt-position' => 'bottom-left'
                %>

            </div>
            <!-- End of Row 1-->
          </div>

          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text teal lighten-4">
                      <i class="fal fa-expand-alt"></i>&nbsp&nbspSize
                </span>
              </div>
                <div class="protip" data-pt-title="Item Size (required)"
                   data-pt-position="bottom-left"
                   data-pt-scheme="red">
                  <select name="item[size]" id="mdb-select"
                        class="mdb-select md-form colorful-select dropdown-info" >
                      <%= options_for_select(Item::ITEM_SIZES.map {|v, k| [k, v]}, selected: item.size) %>
                   </select>
                </div>

            </div>
          </div>

          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text teal lighten-4">
                    <i class="fal fa-usd-circle"></i>
                  &nbsp&nbspPrice</span>
              </div>
                <%= f.text_field :price, id: "itemPrice",
                                 autofocus: true, autocomplete: "itemPrice",style: "width:150px !important",
                                 class: "form-control protip", placeholder: "Item Price",
                                 'data-pt-title' => "Item Price (required - enter numbers only)",
                                 'data-pt-position' => "bottom-left",
                                 'data-pt-scheme' => "red" %>

            </div>
          </div>

          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text teal lighten-4">
                    <i class="fal fa-tshirt"></i>
                  &nbsp&nbspItem Type</span>
              </div>
                <div class="protip" data-pt-title="Item Type (required)"
                     data-pt-position="bottom-left"
                     data-pt-scheme="red">
                        <select name="item[item_type]" id="mdb-select"
                                class="mdb-select md-form colorful-select dropdown-info" style="width:200px !important">
                            <%= options_for_select(Item::ITEM_TYPES.map {|v, k| [k, v]}, selected: item.item_type) %>
                        </select>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="md-form form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text teal lighten-4">
                    <i class="fal fa-calendar-alt"></i>
                      &nbsp&nbspPickup Date</span>
                </div>
                  <%= f.text_field :pickup_date, id: 'itemPickupDate',
                                     autofocus: true, autocomplete: "itemPickupDate",
                                     class: "form-control protip datepicker", placeholder: "Pickup Date",
                                     'data-pt-title' => "Pickup Date (required)",
                                     'data-pt-position' => 'bottom-left'
                  %>
            </div>
          </div>

          <div class="row">
            <div class="md-form form-group input-group">
              <div class="input-group-prepend">
                 <span class="input-group-text teal lighten-4">
                      <i class="fal fa-male"></i>
                    &nbsp&nbspGender</span>
                    <div class="protip" data-pt-title="Gender (required)"
                           data-pt-position="bottom-left"
                           data-pt-scheme="red">
                      <select name="item[gender]" id="mdb-select"
                        class="mdb-select md-form colorful-select dropdown-info" >
                        <%= options_for_select(Item::ITEM_GENDERS.map {|v, k| [k, v]}, selected: item.gender) %>
                      </select>
                    </div>
              </div>
            </div>
          </div>

          <div class="row" >
            <div class="col-md-12 text-center">
              <div class="form-group red-border well shadow-textarea">
                <div class="protip" data-pt-title="Item Notes"
                     data-pt-position="top-left"
                     data-pt-scheme="aqua">
                  <label for="itemNotes">Item Notes</label>
                  <%= f.text_area :notes, class: 'form-control', id: 'itemNotes',
                                  cols: "10", rows: "3", placeholder: "Enter Item notes" %>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 1-->
        </div>
        <!-- End of main left column  -->
      </div>

      <!-- md-6 column right -->
      <span class="col-md-6">
          <!-- Card 1  -->
        <%= render 'items/cards/dates', locals: {item: @item} %>
          <br />
          <!-- Card 2  Payouts -->
          <%= render  "items/cards/payouts", locals: {item: @item} %>
          <br />
          <!-- End of right col  -->
    </span>

      <!-- End of Outside Row  -->
    </div>

      <div class="text-center">
        <button class="btn btn-primary waves-effect " type="submit" >Update Item Record</button>
      </div>

    <% end %>
    <!-- w-100 row -->
  </div>
</div>