<%= form_for @item, validate: true do |i| %>
<%= hidden_field_tag 'mode','takein'%>
<%= hidden_field_tag 'customer_id',params[:id]%>
  <div class="row d-flex justify-content-center" >
    <div class="card rounded-sm" style="width: 70%;">
      <div class="card-header">
        Take In Items
      </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <div class="row d-flex justify-content-center">
          <%= i.text_field :customer_id, id:'itemCustomerID',autofocus: false, 
                                      class: "form-control disabled readonly border-0 text-muted bg-light hidden",
                                      value:params[:id]%>
          <%-# left column -%>
          <div class="col-4-lg">
            <div class="card bg-light mb-3 rounded-sm" style="max-width: 20rem;">
              <div class="card-header h4">Item Details</div>

                <div class="card-body">
                  <%= i.select  :gender, options_for_select(Item::ITEM_GENDERS.map {|v, k| [k, v]}),
                    {:include_blank => "Select Gender"},{class: "browser-default", id: "itemGender"} %>
                </div>
                <div class="card-body">
                  <%= i.select :item_type, options_for_select(Item::ITEM_TYPES.map {|v, k| [k, v]}),
                    {:include_blank => "Select Item Type"},{class: "browser-default md-select", id: "itemType"} %>
                </div>
                <div class="card-body">
                  <%= i.select  :size, options_for_select(Item::ITEM_SIZES.map {|v, k| [k, v]}),
                        {:include_blank => "Select Item Size"},{class: "browser-default md-select", id: "itemSize"} %>
                </div>
              </div>
          </div>

          <%-# right column -%>
          <div class="col-4-lg">
            <div class="card bg-light mb-3 rounded-sm" style="max-width: 20rem;">
              <div class="card-header h4">Item Details</div>
                <div class="card-body">
                  <%= i.text_field :price, id:"itemPrice",
                    autofocus: true, style: "width:150px !important",
                    class: "form-control ", placeholder: "Price" %>
                </div>
                <div class="card-body">
                <%= i.text_field :description, id: 'itemDescription',
                                          autofocus: true,
                                          class: "form-control", placeholder: "Description"%>
                </div>
                <div class="card-body">
                  <%= i.text_area :item_note, id: 'itemNotes', class: 'form-control',
                    cols: "10", rows: "5", placeholder: "Private Item Notes" %>              
                </div>
              </div>
          </div>
          <div class="col-2-lg">
          <div class="card-body">
            <div class="text-center">
              <div class="btn btn-primary">
                <button class="btn btn-primary waves-effect" type="submit">Add Item Record</button>
              </div>
              
            </div>
            </div>
          </div>
          
        <%#row%>
      </div>

      </div>
      <div class="card-footer text-muted">
        <div class="card-body">

        </div>
      </div>
    </div>
    </div>
  <% end %>