    <div class="row">
      <div class="col">
        <%= render 'items/partials/leftGridTableHeader' %>
        <tbody>
        <% @pickupItems.each do |item| %>
          <tr >
            <td class="text-center h5 align-middle" ></td>
            <td class="text-center h5 align-middle" ><%= item.id.to_s %></td>
            <td class="text-left h5 align-middle" ><%= item.customer.full_name.truncate(50) %></td>
            <td class="text-left h5 align-middle" ><%= item.description %></td>
            <td class="text-center align-middle" ><%= size_label(item.size) %></td>
            <td class="text-center align-middle" ><%= number_to_currency item.price %></td>
            <td class="text-center h5 align-middle" ><%= days_in_store item.takein_date %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
      </div>
      <div class="col" style="width: 75px;max-width: 104px;"></div>
      <div class="col">
        <%= render 'items/partials/rightGridTableHeader' %>
        <tbody>
          <tr >
            <td class="text-center h5 align-middle" ></td>
            <td class="text-center h5 align-middle" ></td>
            <td class="text-left h5 align-middle" ></td>
            <td class="text-left h5 align-middle" ></td>
            <td class="text-center align-middle" ></td>
            <td class="text-center align-middle" ></td>
            <td class="text-center h5 align-middle" ></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <div class="col-lg-5">
          <button class="btn btn-outline-primary" id="btnMoveToStoreStock">Move to Store Stock>></button>
        </div>
        <div class="col-lg-2" >
        </div>
        <div class="col-lg-5">
          <div class="pull-left">
            <button class="btn btn-outline-primary pull-left" id="btnReturn"><< Return</button>
            <button class="btn btn-outline-primary pull-left" id="btnCommit">Commit Changes</button>
          </div>
        </div>
      </footer>
    </div>
