<div class="row">
    <div class="col-md-12">
      <div class="col-md-5">
        <%= render 'items/partials/leftGridTableHeader' %>
          <tbody>
            <% @pickupItems.each do |item| %>
            <tr >
              <td class="text-center h5 align-middle"><%= item.id.to_s %></td>
              <td class="text-left h5 align-middle"><%= item.customer.full_name.truncate(50) %></td>
              <td class="text-left h5 align-middle"><%= item.description %></td>
              <td class="text-center align-middle"><%= item.size %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-1">
        <div id='space' style="font-size: 14px; font-family: Verdana; float: left;">
          <div id="space"></div>
        </div>
      </div>
      <div class="col-md-5">
        <%= render 'items/partials/rightGridTableHeader' %>
        <tbody>
        <% @pickupItems.each do |item| %>
          <tr >
            <td class="text-center h5 align-middle"><%= item.id.to_s %></td>
            <td class="text-left h5 align-middle"><%= item.customer.full_name.truncate(50) %></td>
            <td class="text-left h5 align-middle"><%= item.description %></td>
            <td class="text-center align-middle"><%= item.size %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
        </div>
    </div>
</div>