<!DOCTYPE html>
<html>
  <head>
    <title>Consignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body class="container">
    <%= yield %>
    <%= js add_gritter(flash[:notice], title: "Notification", sticky: false) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
