<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <!--Notifications-->
  <div id="jq-notificationWin" style="display: none" >
    <div id="jqmsg"  >
      Default text
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id='js-ajax-response'>
        </div>
        <%= render 'shared/navbar' %>
        <%= yield %>
        <%= insert_paloma_hook %>
      </div>
    </div>
  </div>
  </body>
</html>
