<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'gritter/jquery.gritter.js' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= javascript_tag "showGritter()" %>
    <%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
    <div class="container">
          <%= render 'shared/navbar' %>
          <%= yield %>
          <%= insert_paloma_hook %>
    </div>
  </body>
  </html>
<% end %>