<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="modal" style="display:none;">
  </div>
  <% if notice %>
    <p id="notice" style="display: none;">
      <%= notice %>
    </p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/navbar' %>
        <%= yield %>
      </div>
    </div>
  </div>
  <script>
      $.notify($("#notice").html(), {
          allow_dismiss: false,
          placement: {
              from: 'top',
              align: 'right'
          }
      });
      $.notify($("#warning").html(), {
          allow_dismiss: false,
          placement: {
              from: 'top',
              align: 'right'
          }
      });
      $.notify($("#info").html(), {
          allow_dismiss: false,
          placement: {
              from: 'top',
              align: 'right'
          }
      });
  </script>
  </body>
</html>
